* {
  font-family: "Roboto",  sans-serif;
  line-height: 1.5;
}

body {
  background:linear-gradient(#b1a296, #ecb589,#b1a296) ;
  margin: 0;
  padding: 0;
  color: #446780;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 80%;
  max-width: 1310px;
  margin: 0 auto;
  overflow-x: auto;
  
}

.title {
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.month {
  font-size: 25px;
  display: flex;
  justify-content: center;
}



table {
  width: 100%; 
    border-collapse: collapse;
    background-color: #B1A296;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

 th, td {
    border: 1px solid #857c74;
    padding: 5px;
    text-align: center;
}

 th {
    background: #446780;
    color: #c1c2c2; 
    
}

.yes {
    background: #91a1ab; 
    color: #2e7d32;
    
}

.no {
    background: #b19696; 
    color: #c62828;
   
} 

@media (max-width: 768px) {
  th, td {
    font-size: 0.8em;
    padding: 8px;
  }

  table {
    font-size: 0.9em;
  }

  .month {
    font-size: 1.2em;
  }

  
  .container {
    padding: 10px;
    overflow-x: auto;
  }
}



